# 2 Pandas Data Structure Basics

## Create Your Own Data

### Create a Series

In [1]:

import pandas as pd

In [2]:
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [3]:
# manually assign index values to a series
# by passing a Python list
s = pd.Series(
    data=['Wes McKinney', 'Creator of Pandas'],
    index=['Person', 'Who'],
)

print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

### Create a DataFrame

In [4]:
scientists = pd.DataFrame(
    {
        "Name": ["Rosaline Franklin", "William Gosset"],
        "Occupation": ["Chemist", "Statistician"],
        "Born": ["1920-07-25", "1876-06-13"],
        "Died": ["1958-04-16", "1937-10-16"],
        "Age": [37, 61],
    }
)

print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [5]:
scientists = pd.DataFrame(
    {
        "Occupation": ["Chemist", "Statistician"],
        "Born": ["1920-07-25", "1876-06-13"],
        "Died": ["1958-04-16", "1937-10-16"],
        "Age": [37, 61],
    },
    index=["Rosaline Franklin", "William Gosset"],
    columns=["Occupation", "Born", "Died", "Age"],
)

print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

## The Series

In [6]:
# create our example dataframe
# with a row index label
scientists = pd.DataFrame(
    {
        "Occupation": ["Chemist", "Statistician"],
        "Born": ["1920-07-25", "1876-06-13"],
        "Died": ["1958-04-16", "1937-10-16"],
        "Age": [37, 61],
    },
    index=["Rosaline Franklin", "William Gosset"],
    columns=["Occupation", "Born", "Died", "Age"],
)

print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [7]:
# select by row index label
first_row = scientists.loc["William Gosset"]
print(type(first_row))

<class 'pandas.core.series.Series'>

In [8]:
print(first_row)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

In [9]:
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [10]:
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' np.int64(61)]

In [11]:
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [12]:
# get the first index using an attribute
print(first_row.index[0])

Occupation

In [13]:
# get the first index using a method
print(first_row.keys()[0])

Occupation

### The Series Is ndarray-like

#### Series Methods

In [14]:
# get the 'Age' column
ages = scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [15]:
# calculate the mean
print(ages.mean())

49.0

In [16]:
# calculate the minimum
print(ages.min())

37

In [17]:
# calculate the maximum
print(ages.max())

61

In [18]:
# calculate the standard deviation
print(ages.std())

16.97056274847714

### Boolean Subsetting: Series

In [19]:
scientists = pd.read_csv("data/scientists.csv")

In [20]:
ages = scientists["Age"]
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [21]:
# get basic stats
print(ages.describe())

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [22]:
# mean of all ages
print(ages.mean())

59.125

In [23]:
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [24]:
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [25]:
print(type(ages > ages.mean()))

<class 'pandas.core.series.Series'>

In [26]:
# get index 0, 1, 4, 5, and 7
manual_bool_values = [
    True, # 0
    True, # 1
    False, # 2
    False, # 3
    True, # 4
    True, # 5
    False, # 6
    True, # 7
]

print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

### Operations Are Automatically Aligned and Vectorized (Broadcasting)

#### Vectors of the Same Length

In [27]:
print(ages + ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [28]:
print(ages * ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

#### Vectors With Integers

In [29]:
print(ages + 100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [30]:
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

#### Vectors With Different Lengths

In [31]:
print(ages + pd.Series([1, 100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

#### Vectors With Common Index Labels (Automatic Alignment)

In [32]:
# ages as they appear in the data
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [33]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [34]:
# reference output to show index label alignment
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [35]:
# note how we get the same values
# even though the vector is reversed
print(ages + rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

## The DataFrame

### Parts of a DataFrame

In [36]:
scientists.index

RangeIndex(start=0, stop=8, step=1)

In [37]:
scientists.columns

Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')

In [38]:
scientists.values

array([['Rosaline Franklin', '1920-07-25', '1958-04-16', 37, 'Chemist'],
       ['William Gosset', '1876-06-13', '1937-10-16', 61, 'Statistician'],
       ['Florence Nightingale', '1820-05-12', '1910-08-13', 90, 'Nurse'],
       ['Marie Curie', '1867-11-07', '1934-07-04', 66, 'Chemist'],
       ['Rachel Carson', '1907-05-27', '1964-04-14', 56, 'Biologist'],
       ['John Snow', '1813-03-15', '1858-06-16', 45, 'Physician'],
       ['Alan Turing', '1912-06-23', '1954-06-07', 41,
        'Computer Scientist'],
       ['Johann Gauss', '1777-04-30', '1855-02-23', 77, 'Mathematician']],
      dtype=object)

### Boolean Subsetting: DataFrames

In [39]:
# boolean vectors will subset rows
print(scientists.loc[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

### Operations Are Automatically Aligned and Vectorized (Broadcasting)

In [40]:
first_half = scientists[:4]
second_half = scientists[4:]
print(first_half)

                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist

In [41]:
print(second_half)

            Name        Born        Died  Age          Occupation
4  Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5      John Snow  1813-03-15  1858-06-16   45           Physician
6    Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7   Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [42]:
# multiply by a scalar
print(scientists * 2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

## Making Changes to Series and DataFrames

### Add Additional Columns

In [43]:
print(scientists.dtypes)

Name          object
Born          object
Died          object
Age            int64
Occupation    object
dtype: object

In [44]:
# format the 'Born' column as a datetime
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [45]:
# format the 'Died' column as a datetime
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [46]:
scientists['born_dt'], scientists['died_dt'] = (
    born_datetime,
    died_datetime
)

print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [47]:
print(scientists.shape)

(8, 7)

In [48]:
print(scientists.dtypes)

Name                  object
Born                  object
Died                  object
Age                    int64
Occupation            object
born_dt       datetime64[ns]
died_dt       datetime64[ns]
dtype: object

### Directly Change a Column

In [49]:
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [50]:
# the frac=1 tells pandas to randomly select 100% of the values
# the random_state makes the randomization the same each time
scientists['Age'] = scientists['Age'].sample(frac=1, random_state=42)
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [51]:
# the previous line of code is equivalent to
scientists['Age'] = (
    scientists['Age']
    .sample(frac=1, random_state=42)
)
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [52]:
scientists['Age'] = (
    scientists['Age']
    .sample(frac=1, random_state=42)
    .values # remove the index so it doesn't auto align the values
)
print(scientists['Age'])

0    61
1    45
2    37
3    77
4    90
5    56
6    66
7    41
Name: Age, dtype: int64

In [53]:
# subtracting dates will give us number of days
scientists['age_days'] = (
    scientists['died_dt'] - scientists['born_dt']
)
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   45        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   56           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt   age_days
0 1920-07-25 1958-04-16 13779 days
1 1876-06-13 1937-10-16 22404 days
2 1820-05-12 1910-08-13 32964 days
3 1867-11-07 1934-07-04 24345 days
4 1907-05-27 1964-04-14 20777 days
5 1813-03-15 1858-06-16 16529 days
6 1912-06-23 1954-06-07 15324 days
7 1777-04-30 1855-02-23 28422 days

In [54]:
# we can convert the value to just year
# using the astype method
scientists['age_years'] = (
    (scientists['age_days'] / pd.Timedelta(days=365.25)).round(1)
)
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   45        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   56           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt   age_days  age_years
0 1920-07-25 1958-04-16 13779 days       37.7
1 1876-06-13 1937-10-16 22404 days       61.3
2 1820-05-12 1910-08-13 32964 days       90.3
3 1867-11-07 1934-07-04 24345 days       66.7
4 1907-05-27 1964-04-14 20777 days       56.9
5 1813-03-15 1858-06-16 16529 days       45.3
6 1912-06-23 1954-06-07 15324 days       42.0
7 1777-04-30 1855-02-23 28422 days       77.8

### Modifying Columns with _.assign()_

In [55]:
scientists = scientists.assign(
    # new columns on the left of the equal sign
    # how to calculate values on the right of the equal sign
    # separate new columns with a comma
    age_days_assign = scientists['died_dt'] - scientists['born_dt'],
    age_years_assign = (scientists['age_days'] / pd.Timedelta(days=365.25)).round(1)
)
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   45        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   56           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt   age_days  age_years age_days_assign  \
0 1920-07-25 1958-04-16 13779 days       37.7      13779 days
1 1876-06-13 1937-10-16 22404 days       61.3      22404 days
2 1820-05-12 1910-08-13 32964 days       90.3      32964 days
3 1867-11-07 1934-07-04 24345 days       66.7      24345 days
4 1907-05-27 1964-04-14 20777 days       56.9      20777 days
5 1813-03-15 1858-06-16 16529 days       45.3      16529 days
6 1912-06-23 1954-06-07 15324 days       42.0      15324 days
7 1777-04-30 1855-02-23 28422 days       77.8      28422 days

   age_years_assign
0              37.7
1              61.3
2              90.3
3              66.7
4              56.9
5              45.3
6              42.0
7              77.8

### Dropping Values

In [56]:
# all the current columns in our data
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days', 'age_years', 'age_days_assign', 'age_years_assign'],
      dtype='object')

In [57]:
# drop the suffled age columns
# you provide the axis=1 argument to drop columns
scientists_dropped = scientists.drop(['Age'], axis="columns")

# columns after dropping our column
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt', 'age_days',
       'age_years', 'age_days_assign', 'age_years_assign'],
      dtype='object')

## Exporting and Importing Data

### Pickle

#### Series

In [59]:
names = scientists['Name']
print(names)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [62]:
# pass in a string to the path you want to save
names.to_pickle('data/scientists_name_series_pickle')

#### DataFrame

In [63]:
scientists.to_pickle('data/scientists_df.pickle')

#### Read pickle data

In [64]:
# for a Series
series_pickle = pd.read_pickle('data/scientists_name_series_pickle')
print(series_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [65]:
# for a DataFrame
dataframe_pickle = pd.read_pickle('data/scientists_df.pickle')
print(dataframe_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   45        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   56           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt   age_days  age_years age_days_assign  \
0 1920-07-25 1958-04-16 13779 days       37.7      13779 days
1 1876-06-13 1937-10-16 22404 days       61.3      22404 days
2 1820-05-12 1910-08-13 32964 days       90.3      32964 days
3 1867-11-07 1934-07-04 24345 days       66.7      24345 days
4 1907-05-27 1964-04-14 20777 days       56.9      20777 days
5 1813-03-15 1858-06-16 16529 days       45.3      16529 days
6 1912-06-23 1954-06-07 15324 days       42.0      15324 days
7 1777-04-30 1855-02-23 28422 days       77.8      28422 days

   age_years_assign
0              37.7
1              61.3
2              90.3
3              66.7
4              56.9
5              45.3
6              42.0
7              77.8

### Comma-Separated Values (CSV)

In [66]:
# do not write the row names in the CSV output
scientists.to_csv('data/scientists_df_no_index.csv', index=False)

#### Import CSV Data

In [67]:
scientists_csv = pd.read_csv('data/scientists.csv')
print(scientists_csv)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

### Excel

#### Series

In [68]:
# convert the Series into a DataFrame
# before saving it to an Excel file
names_df = names.to_frame()

In [70]:
# save to an excel file
names_df.to_excel('data/scientists_name_series_df.xls', engine='openpyxl')

#### DataFrames

In [71]:
# saving a DataFrame into Excel format
scientists.to_excel(
    'data/scientist_df.xlsx',
    sheet_name="scientists",
    index=False
)

### Feather

In [72]:
# save to feather file
scientists.to_feather('data/scientists.feather')

In [73]:
# read feather file
sci_feather = pd.read_feather('data/scientists.feather')

print(sci_feather)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   61             Chemist
1        William Gosset  1876-06-13  1937-10-16   45        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   37               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   56           Physician
6           Alan Turing  1912-06-23  1954-06-07   66  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   41       Mathematician

     born_dt    died_dt   age_days  age_years age_days_assign  \
0 1920-07-25 1958-04-16 13779 days       37.7      13779 days
1 1876-06-13 1937-10-16 22404 days       61.3      22404 days
2 1820-05-12 1910-08-13 32964 days       90.3      32964 days
3 1867-11-07 1934-07-04 24345 days       66.7      24345 days
4 1907-05-27 1964-04-14 20777 days       56.9      20777 days
5 1813-03-15 1858-06-16 16529 days       45.3      16529 days
6 1912-06-23 1954-06-07 15324 days       42.0      15324 days
7 1777-04-30 1855-02-23 28422 days       77.8      28422 days

   age_years_assign
0              37.7
1              61.3
2              90.3
3              66.7
4              56.9
5              45.3
6              42.0
7              77.8

### Dictionary

In [74]:
# first 2 rows of data
sci_sub_dict = scientists.head(2)

In [75]:
# convert the dataframe into a dictionary
sci_dict = sci_sub_dict.to_dict()

In [76]:
# using the pretty print library to print the dictionary
import pprint
pprint.pprint(sci_dict)

{'Age': {0: 61, 1: 45},
 'Born': {0: '1920-07-25', 1: '1876-06-13'},
 'Died': {0: '1958-04-16', 1: '1937-10-16'},
 'Name': {0: 'Rosaline Franklin', 1: 'William Gosset'},
 'Occupation': {0: 'Chemist', 1: 'Statistician'},
 'age_days': {0: Timedelta('13779 days 00:00:00'),
              1: Timedelta('22404 days 00:00:00')},
 'age_days_assign': {0: Timedelta('13779 days 00:00:00'),
                     1: Timedelta('22404 days 00:00:00')},
 'age_years': {0: 37.7, 1: 61.3},
 'age_years_assign': {0: 37.7, 1: 61.3},
 'born_dt': {0: Timestamp('1920-07-25 00:00:00'),
             1: Timestamp('1876-06-13 00:00:00')},
 'died_dt': {0: Timestamp('1958-04-16 00:00:00'),
             1: Timestamp('1937-10-16 00:00:00')}}

In [77]:
# read in the dictionary object back into a dataframe
sci_dict_df = pd.DataFrame.from_dict(sci_dict)
print(sci_dict_df)

                Name        Born        Died  Age    Occupation    born_dt  \
0  Rosaline Franklin  1920-07-25  1958-04-16   61       Chemist 1920-07-25
1     William Gosset  1876-06-13  1937-10-16   45  Statistician 1876-06-13

     died_dt   age_days  age_years age_days_assign  age_years_assign
0 1958-04-16 13779 days       37.7      13779 days              37.7
1 1937-10-16 22404 days       61.3      22404 days              61.3

### JSON (JavaScript Object Notation)

In [78]:
# convert the dataframe into a dictionary
sci_json = sci_sub_dict.to_json(
    orient='records', indent=2, date_format='iso'
)

print(sci_json)

[
  {
    "Name":"Rosaline Franklin",
    "Born":"1920-07-25",
    "Died":"1958-04-16",
    "Age":61,
    "Occupation":"Chemist",
    "born_dt":"1920-07-25T00:00:00.000",
    "died_dt":"1958-04-16T00:00:00.000",
    "age_days":"P13779DT0H0M0S",
    "age_years":37.7,
    "age_days_assign":"P13779DT0H0M0S",
    "age_years_assign":37.7
  },
  {
    "Name":"William Gosset",
    "Born":"1876-06-13",
    "Died":"1937-10-16",
    "Age":45,
    "Occupation":"Statistician",
    "born_dt":"1876-06-13T00:00:00.000",
    "died_dt":"1937-10-16T00:00:00.000",
    "age_days":"P22404DT0H0M0S",
    "age_years":61.3,
    "age_days_assign":"P22404DT0H0M0S",
    "age_years_assign":61.3
  }
]